workspace/.metadata/.lock
workspace/.metadata/.log
workspace/.metadata/.mylyn/.taskListIndex/segments.gen
workspace/.metadata/.mylyn/.taskListIndex/segments_1
workspace/.metadata/.mylyn/.tasks.xml.zip
workspace/.metadata/.mylyn/repositories.xml.zip
workspace/.metadata/.mylyn/tasks.xml.zip
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/43/606368d250e400131337d95f08872276
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/85/e0a4ed5851e400131337d95f08872276
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/87/2087bf5051e400131337d95f08872276
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/9b/10658adc54e400131ceca4c4b7830b97
workspace/.metadata/.plugins/org.eclipse.core.resources/.history/dd/e043271751e400131337d95f08872276
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/FaceDetection/.indexes/af/history.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/FaceDetection/.indexes/e4/b9/history.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/FaceDetection/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/FaceDetection/.syncinfo.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
workspace/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
workspace/.metadata/.plugins/org.eclipse.core.resources/.snap
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.resources.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/FaceDetection.launch
workspace/.metadata/.plugins/org.eclipse.debug.core/.launches/HelloWorld.launch
workspace/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
workspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
workspace/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.jdt.core/1115467115.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1299022128.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1498219845.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/163172794.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1697886153.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/1995173708.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/2714790593.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/305854171.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3065916431.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/30765161.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3133528496.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3807319456.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/3974580528.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/4041092966.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/4108727661.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/4155206848.index
workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
workspace/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
workspace/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
workspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
workspace/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
workspace/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
workspace/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
workspace/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
workspace/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/5/21/refactorings.history
workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/5/21/refactorings.index
workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/HelloWorldOpenCV/2014/5/21/refactorings.history
workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/HelloWorldOpenCV/2014/5/21/refactorings.index
workspace/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
workspace/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
workspace/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
workspace/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
workspace/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
workspace/.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
workspace/.metadata/version.ini
